[SERVICE]
   Flush         1
   Log_Level     debug
   Daemon        off
   Parsers_File  /parsers.conf

[INPUT]
   Name              tail
   Path              /var/lib/docker/containers/*/*.log
   Parser            docker
   Refresh_Interval  10
   Mem_Buf_Limit     10MB
   Skip_Long_Lines   On
   tag               logs

[FILTER]
   Name     parser
   Match    logs
   Key_Name *
   Parser   json

[OUTPUT]
   name            loki
   match           logs
   host            loki.hostname
   port            3100
   labels          job=fluentbit, host={{ inventory_hostname }}
