[SERVICE]
   Flush         1
   Log_Level     debug
   Daemon        off
   Parsers_File  /parsers.conf

[INPUT]
   Name              tail
   Path              /var/lib/docker/containers/*/*.log
   Parser            docker
   Refresh_Interval  10
   Mem_Buf_Limit     10MB
   Skip_Long_Lines   On
   tag               logs

[INPUT]
   name                                         node_exporter_metrics
   tag                                          node_metrics
   scrape_interval                              2
   path.procfs                                  /host/proc
   path.sysfs                                   /host/sys

[INPUT]
   Name              systemd
   Tag               host.*
   Systemd_Filter    _SYSTEMD_UNIT=docker.service
   
[FILTER]
   Name     parser
   Match    logs
   Key_Name *
   Parser   json

[OUTPUT]
   name            loki
   match           logs
   host            loki.hostname
   port            3100
   labels          job=docker-logs, host={{ inventory_hostname }}

[OUTPUT]
   name            prometheus_exporter
   match           node_metrics
   host            0.0.0.0  
   port            2021
   add_label       host {{ inventory_hostname }}