{
  "displayName":"Virtualization and Cloud Computing",
  "id":"vcc",
  "realm":"vcc",
  "enabled":true,
  "clients": [
    { 
      "id": "{{ CLOUD_OIDC_CLIENT_ID }}",
      "clientId": "{{ CLOUD_OIDC_CLIENT_ID }}",
      "description": "Integration with Nextcloud",
      "publicClient": false,
      "redirectUris": ["*"],
      "enabled": true,
      "secret": "{{ CLOUD_OIDC_CLIENT_SECRET }}"
    },
    { 
      "id": "{{ MON_OIDC_CLIENT_ID }}",
      "clientId": "{{ MON_OIDC_CLIENT_ID }}",
      "description": "Integration with Grafana",
      "publicClient": false,
      "redirectUris": ["*"],
      "enabled": true,
      "secret": "{{ MON_OIDC_CLIENT_SECRET }}"
    }  
  ],
  "roles": {
    "realm": [
      {
        "name": "Admin"
      },
      {
        "name": "Viewer"
      },
      {
        "name": "Editor"
      }
    ]
  },
  "users": [
    {
      "id": "{{ USER_ID }}",
      "username": "{{ USER_USERNAME }}",
      "firstName": "{{ USER_FIRSTNAME }}",
      "lastName": "{{ USER_LASTNAME }}",
      "email": "{{ USER_EMAIL }}",
      "emailVerified": true,
      "enabled": true,
      "credentials": [
        {
          "type": "rawPassword",
          "value": "{{ USER_PASS }}"
        }
      ],
      "realmRoles": [
          "Viewer"
      ]
    }]
}